<div class="col-md-4 mx-auto">
    <div class="card animated fadeInDown">
      <div class="card-header">
          <h5>¿Seguro desea eliminar comentario?</h5>

      </div>
      <div class="card-body">
          <form action="/coments/delete/{{coment._id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
               <div class="form-group">
                   <textarea name="coment" class="form-control" cols="20" rows="3" style="resize: none" disabled>{{coment.coment}}</textarea>
                </div>
                <div class="form-group">
                <button class="btn btn-danger btn-block" type="submit">Eliminar</button>
                </div>
          </form>

      </div>
    </div>

</div>