
<div class="col-md-4 mx-auto">
  <div class="card animated fadeInDown">
    <div class="card-header">
        <h5>Aquí puede dejar su comentario!</h5>
    </div>
    <div class="card-body">
      <form action="/coments/new-coment" method="POST">
         
         <div class="form-group">
             <textarea name="coment" class="form-control" cols="20" rows="3" placeholder="Comentar" ></textarea>
         </div>
         <div class="form-group">
             <button class="btn btn-primary btn-block" type="submit">Enviar</button>
         </div>
      </form>
    </div>
</div>
</div>