body{
background: #314755;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #26a0da, #314755);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #26a0da, #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Antic', sans-serif;
font-size: 20px;
}
.logo{
    width: 25%;
}
/*-----estilos all_sheets-----*/
.formato h5{
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
    color:#16A085;
}
.formato p{
    text-align: justify;
    font-size: 16px;

}
h6{
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
    color:#16A085;
}
/*-----Estilos Image projects form-----*/
.img_project{
    float: right;
    width: 50%;
    height:auto;
    padding-top:90px;
    
}
