<div class="card animated fadeInDown">
    <div class="card-body">
        <h1>Acerca de la @PP. </h1>
        <p>Esta aplicación Web esta desarrollada en su versión 1.0 por el Ingeniero de Sistemas <i>Andrés Atehortúa;</i> la cual empieza como idea para plasmar conocimeintos en el ámbito del desarrollo web, abarcando tecnologías modernas basadas en JavaScript y MoongoDB.</p>
        <br>
        <h2>Desarrollo.</h2>
        <p>El proyecto se encuentra en repositorio GitHub con la idea de aportar proyectos de desarrollo web o como una práctica para los que incursionamos en este mundo de la técnología, a su vez para que l código pueda ser estudiado, modificado, distribuido por la comunidad <i>"Código Libre".</i></p>
        <br>
        <h2>Historia.</h2>

        <p>Creada en Junio de 2019 desde mí oficina <i>"Casa"</i> despúes de muchas horas de estudio nos planteamos la forma de aplicar todo los conceptos básicos del desarrollo web bajo tecnologías como JavaScritp, NodeJS(JavaScript en el servidor), MongoDB(Gestor de bases de datos NoSQL), BOOTSTRAP(Como Framework de CSS) y HTML5 que es la base de este proyecto en cual nos permite interactuar con diferentes modulos de la misma. <br> <br> Mi intención es poner a disposición la aplicación para crear nuevas versiones y/o crear mejores funcionalidades.</p>
        <br>
        <h2>Involucrarse.</h2>
        <p>Participe en el proyecto, verifique el código, plantee nuevas funcionalidades o mejores practicas de desarrollo de esta aplicaión. Haga criticas constructivas , analice la estructura del proyecto, las fuentes, librerias de express utilizadas, dependencias, motor de vistas, iconos colores y demás.</p>
        
    </div>
</div>