{{!-- <h1 class="fixed-bottom">footer</h1> --}}
<div class="card">
  {{!-- <div class="card-header navbar navbar-expand-lg navbar-dark bg-dark">
   
  </div> --}}
  <div class="card-body text-white bg-dark ">
    <p class="card-text">Ing. Andrés Atehortúa - Email: negroath@hotmail.com</p> 
  </div>
</div> 