
<div class="jumbotron mt-4">

<h1 class="display-4">App Portafolio NodeJS and MongoDB</h1>
<p class="lead">Aplicación desarrollada para mostrar curriculum, proyectos web y notas del usuario.</p>
<hr class="my-4">
<p>La Aplicación permite llevar registro de su curriculum viate, una forma sencilla de almacenar información relevante de su perfil, con la posibilidad de administrar los diferentes módulos de la APP. </p>
<h3 style="font-weight: bold; color:darkturquoise">Realice su registro para conocer más...</h3>
<a href="/users/signup" class="btn btn-primary btn-lg">Comenzar</a>
</div>