<div class="card animated fadeInDown">
    <div class="card-body">
        <h1>Información Técnica.</h1>
        <h3>Una API-REST simple para hacer comentarios, guardar informacion personal, guardar proyectos personales, a su vez se podran listar, actualizar y eliminar bajo la cuenta de cada usuario.</h3>
        <br>
        <h2>Lenguaje de Desarrollo.</h2>
        <h5>JavaScript y NodeJS</h5>
        <p>Version. 10.15.3</p>
        <br>
        <h2>Framework.</h2>
        <h5>Express</h5>
        <p>Version. 4.17.1</p>
        <br>
        <h2>Maquetación.</h2>
        <h5>HTML Y CSS</h5>
        <h5>BOOTSTRAP 4.0</h5>
        <br>
        <h2>Gestor Base de Datos.</h2>
        <h5>MongoDB</h5>
        <p>Version. 4.0.9</p>
        <br>
    
        <h1>Recursos Adicionales.</h1>
        <h2>Fuentes de google.</h2>
        <p>https://fonts.googleapis.com/css?family=Antic&display=swap</p>
        <h2>Iconos</h2>
        <p>https://use.fontawesome.com/releases/v5.7.0/css/all.css</p>
        
    </div>
</div>