<div class="row">
  <div class="col-md-4 mx-auto">
      <div class="card text-center">
          <div class="card-header">
            <h5>Registrar Cuenta</h5>
          </div>
           <div class="card-body">
               <form action="/users/signup" method="POST">
                   <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Nombre" value="{{name}}">
                   </div>
                   <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Correo electr칩nico" value="{{email}}">
                    <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu correo con nadie m치s.</small>
                   </div>
                   <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Contrase침a" value="{{password}}">
                   </div>
                   <div class="form-group">
                    <input type="password" class="form-control" name="confirm_password" placeholder="Confirmar contrase침a" value="{{confirm_password}}">
                   </div>
                   <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                   </div>
               </form>
               

           </div>
      </div>

  </div>
</div>